*~
*.d.ts
*.js
*.log
*.env

./test/*.js
.directory
.idea
.nyc_output
.project
.settings
.vscode

!setupTopics.js
!.eslintrc.js

coverage/
lib/
node_modules/
npm-debug.log
scripts/bin/

config
id_rsa
id_rsa.pub
known_hosts
